button
{
    -fx-padding: 0;
    -fx-border: none;
    -fx-outline: none;
    -fx-text-decoration: none;
}

.curled-btn
{
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-color: #fff; /* White text color */
    -fx-border-radius: 2%; /* Rounded corners for curled edges */
}

#main_navigation
{
    -fx-background-color: #2f2f2f; /* dark grey background color */
}

#preview_search_nav, #test_options
{
    -fx-background-color: #3a3a3a; /* medium dark grey background color */
}