Button, CheckBox {
    -fx-cursor: HAND;
}

Slider:pressed {
    -fx-cursor: CLOSED_HAND;
}
Slider {
    -fx-cursor: OPEN_HAND;
}

.menu_btn {
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-color: #fff; /* White text color */
    -fx-border-radius: 2%; /* Rounded corners for curled edges */
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-cursor: HAND;
}

.btn_red {
    -fx-background-color: red;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.btn_red:hover {
    -fx-background-color: #ff6b6b;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.btn_red:pressed {
    -fx-background-color: red;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_grey {
    -fx-background-color: #646464;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.btn_grey:hover {
    -fx-background-color: #2f2f2f;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.btn_grey:pressed {
    -fx-background-color: #646464;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_dark {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.btn_dark:hover {
    -fx-background-color: #646464;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.btn_dark:pressed {
    -fx-background-color: #2f2f2f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_add_icon {
    -fx-background-color: none;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.btn_add_icon:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.btn_add_icon:pressed {
    -fx-rotate: 45;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.optionAreaBox {
    -fx-background-color: #3a3a3a; /* medium dark grey background color */
}

.menuButton_dark .label {
    -fx-text-fill: white;
}
.menu-item .label {
    -fx-text-fill: #2f2f2f;
}
.menuButton_dark {
    -fx-background-color: #2f2f2f;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.menuButton_dark:hover {
    -fx-background-color: #646464;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.menuButton_dark:pressed {
    -fx-background-color: #2f2f2f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.searchbar_dark {
    -fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
}
.topic_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: large;
}
.option_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-font-size: medium;
}
.error_label {
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.scroll-box {
    -fx-background-color: #3A3A3A;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: large;
}
.slider-tool {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-tick-label-fill: white;
}

/* Title Banner */
.titleBanner_label {
    -fx-font-family: "Inter";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-line-spacing: 15px;
    -fx-letter-spacing: 0em;
    -fx-text-align: right;
    -fx-padding: 0 100px 0 0;
}


/* Navigation bar Scene*/
.main_navigation {
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-pref-width: 100px;
    -fx-pref-height: 600px;
}

.navigation_item_label_notSelected {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.navigation_item_label_selected {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-text-fill: #228be6; /* color of the blue icons */
}


/* Home Screen Scene*/
.homeScreen_gridPane {
    -fx-background-color: #3A3A3A;
}

.homeScreen_label {
    -fx-font-family: "Inter";
    -fx-font-size: 41px;
    -fx-font-weight: bold;
    -fx-line-spacing: 15px;
    -fx-letter-spacing: 0em;
    -fx-text-align: center;
    -fx-padding: 0 200px 0 0;
}

.homeScreen_hbox_ContinueButton {
    -fx-background-color: #3A3A3A;
}

.homeScreen_addButton_menu_item {
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0; /* top, right, bottom, left */
    -fx-border-color: black;
}


/* addCourse / addProgram Scene */

.addCourseAndProgram_label {
    -fx-text-fill: white;
}

/* Automatic Test Creation Scene*/

.automatic_create_label {
    -fx-background-color: #2f2f2f;
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 20px 0 20px 50px;
}

.automatic_create_scrollPane {
    -fx-background-color: #3A3A3A;
}

.automatic_create_vbox {
    -fx-padding: 20px 0px 20px 50px;
}

.automatic_create_spinner {
    -fx-base: #2f2f2f;
}

/* Upload Question and Question Edit Scene */
.question_vbox {
    -fx-padding: 20px 50px 20px 50px;
}

/* Create Manual Screen */
.filter_question_preview_vbox {
    -fx-border-color: grey;
    -fx-border-radius: 2%;
    -fx-cursor: HAND;
}
.filter_question_preview_vbox:hover {
    -fx-background-color: #646464;
}
.filter_question_preview_vbox:pressed {
    -fx-background-color: #2f2f2f;
}
