button
{
    -fx-padding: 0;
    -fx-border: none;
    -fx-outline: none;
    -fx-text-decoration: none;
}

.menu_btn
{
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-color: #fff; /* White text color */
    -fx-border-radius: 2%; /* Rounded corners for curled edges */
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-max-height: 50px;
    -fx-max-width: 50px;

}

.optionAreaBox
{
    -fx-background-color: #3a3a3a; /* medium dark grey background color */
}

.searchbar_dark
{
    -fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
}
.topic_label
{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: large;
}
.option_label
{
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-font-size: medium;
}
.scroll-box
{
    -fx-background-color: #3A3A3A;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: large;
}
.slider-tool
{
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-tick-label-fill: white;
}



/* Navigation bar Scene*/

.main_navigation
{
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-pref-width: 100px;
    -fx-pref-height: 600px;
}

.navigation_item_label_notSelected
{
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.navigation_item_label_selected
{
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-text-fill: #228be6; /* color of the blue icons */
}


/* Home Screen Scene*/
.homeScreen_gridPane
{
    -fx-background-color: #3A3A3A;
}

.homeScreen_dropdown
{
    -fx-font-size: 20px;
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-background-color: #C2BFBF;
}

.homeScreen_label {
    -fx-font-family: "Inter";
    -fx-font-size: 41px;
    -fx-font-weight: bold;
    -fx-line-spacing: 15px;
    -fx-letter-spacing: 0em;
    -fx-text-align: center;
    -fx-padding: 0 200px 0 0;
}

.homeScreen_hbox_ContinueButton
{
    -fx-background-color: #3A3A3A;
}
.homeScreen_ContinueButton
{
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #434343;
}

/* addCourse / addProgram Scene */

.addCourseAndProgram_label
{
    -fx-text-fill: white;
}

/* Automatic Test Creation Scene*/

.automatic_create_label
{
    -fx-background-color: #2f2f2f;
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 20px 0 20px 50px;
}

.automatic_create_scrollPane
{
    -fx-background-color: #3A3A3A;
}

.automatic_create_dropdown
{
    -fx-font-size: 20px;
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-background-color: #C2BFBF;
}

.automatic_create_vbox
{
    -fx-padding: 20px 0px 20px 50px;
}

.automatic_create_spinner
{
    -fx-base: #2f2f2f;
}

.automatic_create_addQuestionButton
{
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-background-color: #2f2f2f;
}

.automatic_create_uploadButton
{
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-background-color: #2f2f2f;
}


/* Upload Question Scene */
.upload_question_vbox
{
    -fx-padding: 20px 50px 20px 50px;
}


/* Question Edit Screen */
.edit_question_vbox
{
    -fx-padding: 20px 50px 20px 50px;
}