

/*
changes the cursor to a hand symbol when hovering over buttons and checkboxes
 */
Button, CheckBox {
    -fx-cursor: HAND;
}

/*
changes the cursor to a closed hand symbol, when a slider is pressed
 */
Slider:pressed {
    -fx-cursor: CLOSED_HAND;
}

/*
sets the cursor to an open hand symbol, when hovering over a slider
 */
Slider {
    -fx-cursor: OPEN_HAND;
}

/*
This rule sets the background color to red, text color to white, font weight to bold, and applies rounded corners to the background and border.
Additionally, it specifies padding, cursor as a hand symbol, a drop shadow effect, and a transition effect for smoother visual changes.

Occurrences of red buttons in the project:
    - manual test create: export button
    - pdf preview: export pdf button & export docx button
*/
.btn_red {
    -fx-background-color: red;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule changes the background color to a lighter shade of red and slightly scales up the button for visual feedback.
*/
.btn_red:hover {
    -fx-background-color: #ff6b6b;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule restores the background color to red and applies a darker drop shadow effect when the button is pressed.
*/
.btn_red:pressed {
    -fx-background-color: red;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_orange {
    -fx-background-color: orange;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule changes the background color to a lighter shade of red and slightly scales up the button for visual feedback.
*/
.btn_orange:hover {
    -fx-background-color: #734500;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule restores the background color to red and applies a darker drop shadow effect when the button is pressed.
*/
.btn_orange:pressed {
    -fx-background-color: orange;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_green {
    -fx-background-color: green;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule changes the background color to a lighter shade of red and slightly scales up the button for visual feedback.
*/
.btn_green:hover {
    -fx-background-color: darkgreen;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule restores the background color to red and applies a darker drop shadow effect when the button is pressed.
*/
.btn_green:pressed {
    -fx-background-color: green;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

/*
This rule sets the background color to a shade of grey, text color to white, and applies rounded corners to the background and border.
Additionally, it specifies padding, cursor as a hand symbol, a drop shadow effect, and a transition effect for smoother visual changes.

Occurrences of grey buttons in the project:
    - pdf preview: view pdf/apply formatting button
*/
.btn_grey {
    -fx-background-color: #646464;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule changes the background color to a darker shade of grey and slightly scales up the button for visual feedback.
*/
.btn_grey:hover {
    -fx-background-color: #2f2f2f;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule restores the background color to the original grey shade and applies a darker drop shadow effect when the button is pressed.
*/
.btn_grey:pressed {
    -fx-background-color: #646464;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

/*
This rule sets the background color to a dark shade, text color to white, and applies specific width and height.
It also sets minimum and maximum width, rounds the background and border corners, specifies padding, cursor as a hand symbol, a drop shadow effect, and a transition effect for smoother visual changes.

Occurrences of dark buttons in the project:
    - automatic test create: add question button & create test button
    - question filter: apply filter button
    - home: continue button
    - pdf preview: choose directory button
    - create question: add new answer button (MC question) & create question button
    - edit question: add new answer button (MC question) & save changes button
    - settings: export button & import button
*/
.btn_dark {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule changes the background color to a slightly lighter shade and slightly scales up the button for visual feedback.
*/
.btn_dark:hover {
    -fx-background-color: #646464;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule restores the background color to the original dark shade and applies a darker drop shadow effect when the button is pressed.
*/
.btn_dark:pressed {
    -fx-background-color: #2f2f2f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

/*
This rule removes the background color, sets the cursor as a hand symbol, and applies a drop shadow effect.
It also specifies a transition effect for smoother visual changes.

Occurrences of btn_add_icon buttons in the project:
    - pdf preview: go back button
    - question filter: add category button & difficulty toggle button & points toggle button
    - create question: add category button & add keyword button
    - edit question: add keyword button
*/
.btn_add_icon {
    -fx-background-color: none;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
/*
This rule slightly scales up the button for visual feedback.
*/
.btn_add_icon:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
/*
This rule rotates the button by 45 degrees and applies a darker drop shadow effect when the button is pressed.
*/
.btn_add_icon:pressed {
    -fx-rotate: 45;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.btn_image_icon {
    -fx-background-color: none;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.btn_image_icon:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.btn_image_icon:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.optionAreaBox {
    -fx-background-color: #3a3a3a; /* medium dark grey background color */
}

.menuButton_dark .label {
    -fx-text-fill: white;
}
.menu-item .label {
    -fx-text-fill: #2f2f2f;
}
.menuButton_dark {
    -fx-background-color: #2f2f2f;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.menuButton_dark:hover {
    -fx-background-color: #646464;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.menuButton_dark:pressed {
    -fx-background-color: #2f2f2f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.menuButton_bright_small {
    -fx-background-color: #2f2f2f;
    -fx-pref-width: 100px;
    -fx-min-width: 50px;
    -fx-pref-height: 32px;
    -fx-max-width: 150px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-transition: background-color 0.3s, scale 0.3s;
}
.menuButton_bright_small:hover {
    -fx-background-color: #646464;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.menuButton_bright_small:pressed {
    -fx-background-color: #2f2f2f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.searchbar_dark {
    -fx-background-color: #434343;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
}
.topic_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.label_white_bold {
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.option_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-font-size: medium;
}
.error_label {
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.scroll-box {
    -fx-background-color: #3A3A3A;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: large;
}
.slider-tool {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
    -fx-pref-width: 300px;
    -fx-min-width: 200px;
    -fx-pref-height: 32px;
    -fx-max-width: 300px;
    -fx-tick-label-fill: white;
}

/* Title Banner */
.titleBanner_label {
    -fx-font-family: "Inter";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-line-spacing: 15px;
    -fx-letter-spacing: 0em;
    -fx-text-align: right;
    -fx-padding: 0 100px 0 0;
}


/* Navigation bar Scene*/
.main_navigation {
    -fx-background-color: #2f2f2f; /* dark grey background color */
    -fx-pref-width: 100px;
    -fx-pref-height: 600px;
}

.navigation_item_label_notSelected {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
}

.navigation_item_label_selected {
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-text-fill: #228be6; /* color of the blue icons */
}
.navigation_vbox {          /* applied to the main navigation and the home-btn */
    -fx-cursor: HAND;
}
.navigation_vbox:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.navigation_vbox:pressed {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

/* Home Modal Scene*/
.homeScreen_gridPane {
    -fx-background-color: #3A3A3A;
}

.homeScreen_label {
    -fx-font-family: "Inter";
    -fx-font-size: 41px;
    -fx-font-weight: bold;
    -fx-line-spacing: 15px;
    -fx-letter-spacing: 0em;
    -fx-text-align: center;
    -fx-padding: 0 200px 0 0;
}

.homeScreen_hbox_ContinueButton {
    -fx-background-color: #3A3A3A;
}

.homeScreen_addButton_menu_item {
    /*
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 0; /* top, right, bottom, left
    -fx-border-color: black;
    */
}


.context-menu {
    -fx-background-color: #2f2f2f;
    -fx-background-radius: 5;
}

.menu-button .menu-item {
    -fx-background-color: #2f2f2f;
}

.menu-button .label {
    -fx-text-fill: white;
}




/* addCourse / addProgram Scene */

.addCourseAndProgram_label {
    -fx-text-fill: white;
}

/* Automatic Test Creation Scene*/

.automatic_create_label {
    -fx-background-color: #2f2f2f;
    -fx-font-family: "Inter";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 20px 0 20px 50px;
}

.automatic_create_scrollPane {
    -fx-background-color: #3A3A3A;
}

.automatic_create_vbox {
    -fx-padding: 20px 0px 20px 50px;
}

.automatic_create_spinner {
    -fx-base: #2f2f2f;
}

/* Upload Question and Question Edit Scene */
.question_vbox {
    -fx-padding: 20px 50px 20px 50px;
}

/* Create Manual Modal */
.filter_question_preview_vbox {
    -fx-border-color: grey;
    -fx-border-radius: 2%;
    -fx-cursor: HAND;
}
.filter_question_preview_vbox:hover {
    -fx-background-color: #646464;
}
.filter_question_preview_vbox:pressed {
    -fx-background-color: #2f2f2f;
}

.remove-button{

}

.position-button {

}

/* textArea Context Menu (right-klick) */
.text-area-context-menu .context-menu {
    -fx-background-color: white;
}

/** MODALS **/
.modals {
    -fx-background-color: #2f2f2f;
    -fx-padding: 20px;
}
.modal_topic_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.modal_info_label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-size: 12px;
}

/** ALERTS **/

.dialog-pane {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
}

.dialog-pane .header-panel {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: white;
}
/*
.dialog-pane .content {
    -fx-background-color: #ffffff;
}
.dialog-pane .button-bar {
    -fx-background-color: #d3d3d3;
}
.dialog-pane .text {
    -fx-text-fill: white;
}
 */

.dialog-pane .label {
    -fx-text-fill: white;
}